:root {
    /* MAIN COLORS */
    --main-color-1: #4B81A2;
    --main-color-2: #4ebbea;
    --main-color-3: #FA8072;
    --main-color-4: #7E9F41;
    --main-color-5: #E5E0A4;

    /* WATER */
    --water-color-1: #BEE4F4;
    --water-color-2: #86c6e9;
    --water-color-3: #5585D8;
    --water-color-4: #2B1060;
    --water-color-5: #0A0A33;

    /* ACCENT */
    --accent-color-1: #C6EAB8;
    --accent-color-2: #80CB67;
    --accent-color-3: #7E9F41;
    --accent-color-4: #448C2C;
    --accent-color-5: #2C5F1B;

    --accent-color-6: #E5E0A4;
    --accent-color-7: #DBB13D;
    --accent-color-8: #FC7E73;
    --accent-color-9: #D77A5B;
    --accent-color-10: #C181A8;

    --accent-color-11: #5E29FF;
    --accent-color-12: #C70A82;
    --accent-color-13: #6D1C69;
    --accent-color-14: #2B1060;
    --accent-color-15: #0A0A33;
}

html {
    scroll-behavior: smooth;
}

/* * {
    border: 2px solid red;
} */

@font-face {
    font-family:"Lost Fish";
    src:url("fonts/Lost_Fish.eot") format("eot"),
    url("fonts/Lost_Fish.woff") format("woff"),
    url("fonts/Lost_Fish.ttf") format("truetype"),
    url("fonts/Lost_Fish.svg") format("svg");
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: "Sniglet";
    src: url("fonts/Sniglet-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, 
                                      var(--water-color-1), 
                                      var(--water-color-2), 
                                      var(--water-color-3), 
                                      var(--water-color-4), 
                                      var(--water-color-5));                          
    /* height: 550vh; */
    width: 100%;
    position: relative;
    z-index: 1;
    overscroll-behavior: none;
}

h1 {
    font-family: 'Lost Fish';
    color: white;
    font-size: 5em;
    padding: 0%;
    @media screen and (max-width: 768px) {
        font-size: 3.5em;
    }
    @media screen and (max-width: 500px) {
        font-size: 2.3em;
    }
}

h2 {
    font-family: 'Lost Fish';
    font-size: 2em; 
    margin-top: -40px;
    color: white;
    padding: 0%;
    @media screen and (max-width: 500px) {
        font-size: 1em;
        margin-top: -10px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* Scaling is kinda off but always contains whole iamge*/
#home {
    background-image: url("assets/landing_cropped.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    z-index: 10;
    height: 100vh;
    width: 100%;
    @media screen and (max-width: 1024px) {
        background-size: cover;
    }
}

.logo-and-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* margin-left: 2%;
    margin-top: 2%; */
    margin: 2% 2% 0% 2%;
}

nav {
    display: flex;          
    align-items: center;   
    justify-content: space-between; 
}


.logo-in-nav { 
    height: 100px;  
    margin-right: 20px;
    
    @media screen and (max-width: 640px) {
        height: 62px;
    }
}

.event-schedule {
    @media screen and (max-width: 500px) {
        display: none;
    }
}

.mobile-schedule {
    display: none;

    @media screen and (max-width: 500px) {
        display: block;
    }
}

nav ul {
    font-family: Sniglet;
    color: var(--main-color-1);
    font-size: 1.9em;
    list-style-type: none;
    padding: 0;        
    display: flex;        
    gap: 25px;             
    
    @media screen and (max-width: 640px) {
        font-size: 1.3em;
        gap: 20px;
    }
}

nav li, nav a {
    text-decoration: none;  
    color: inherit;        
}

.main-title-and-apply {
    padding-top: 60px;
    text-align: center;
}


#schedule {
    background-image: url("assets/second_section.png");
    position: relative;
    z-index: 10;
    height: 110vh;
}
#schedule img {
    margin-right: auto;
}

.bubbles {
    top: 10%;
    position: relative;
    /* z-index: 10; */

    @media screen and (max-width: 500px) {
        height: 20%;
    }
}
/* .table {
    top: 9%;
    left: 10%;
    right: 10%;
    position: absolute;
    width: 80%;
    height: 65%;
    z-index: 11;

    @media screen and (max-width: 500px) {
        width: 80%;
        height: 30%;
        left: 10%;
        right: 10%; 
    }
} */

.table {
    top: 9%;
    left: 7.5%;
    right: 7.5%;
    position: absolute;
    width: 85%;
    height: 65%;
    margin: auto;
    background-color: #B1DAF1;
    border-radius: 8px;
    display: grid;
    grid-template-rows: 17% 83%;
    grid-template-columns: 50% 50%;
}

.top-left {
    border-right: 2px solid #759CBE;
    border-bottom: 2px solid #759CBE;
    font-family: 'Sniglet';
    font-weight: normal;
    color: #3F2C4E;
    font-size: 3em;
    display: flex;
    align-items: center;
    padding: 20px;
}

.top-right {
    border-bottom: 2px solid #759CBE;
    font-family: 'Sniglet';
    font-weight: normal;
    color: #3F2C4E;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
}

.bottom-left {
    border-right: 2px solid #759CBE;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.bottom-right {

}


.event-rectangle {
    background-color: black;
    flex: 1;
    border-radius: 8px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 10px;
    padding: 20px;
    box-sizing: border-box;
    height: 100px;
    overflow: hidden;
}

.event-rectangle:nth-child(1) {
    background-color: #E1F6FF;
}

.event-rectangle:nth-child(2) {
    background-color: #BEE4F4;
}

.event-rectangle:nth-child(3) {
    background-color: #82AEE3;
}

.event-rectangle:nth-child(4) {
    background-color: #437CC2;
}

.event-rectangle:nth-child(5) {
    background-color: #345998;
}

.event-time {
    justify-self: start;
    font-family: 'Sniglet';
    font-weight: normal;
    color: #3F2C4E;
    font-size: 2em;
}
  
.event-title-and-location {
    justify-self: end;
    font-family: 'Sniglet';
    font-weight: normal;
    color: #3F2C4E;
    font-size: 1.5em;
}
  
.arrow {
    justify-self: end;
}


.turtle {
    position: absolute;
    bottom: 0;
    right: 0;
    animation: moveTurtle 10s infinite;
    z-index: 12;

    @media screen and (max-width: 500px) {
        width: 50%;
        height: 30%;
        bottom: 45%; 

    }
}
.jellyfish-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 27%;
    overflow: hidden;

    @media screen and (max-width: 500px) {
        bottom: 32%;
        left: 0;
    }
}
.jellyfish {
    position: absolute;
    bottom: 0; 
    animation: moveJellyfish 10s infinite;
    @media screen and (max-width: 500px) {
        width: 30%;
        height: 60%;        
        bottom: 52%; 
        left: 0;
    }
}
.baby-jellyfish {
    position: absolute;
    right: 50%;
    animation: moveBabyJellyfish 10s infinite;
    @media screen and (max-width: 500px) {
        width: 30%;
        height: 60%;        
        bottom: 52%;
        left: 45%;  
    }
}
@keyframes moveJellyfish {
    0%, 100% {
        transform: translateX(0%) scaleX(1);
    }
    49% {
        transform: translateX(40%) scaleX(1); 
    }
    50% {
        transform: translateX(40%) scaleX(-1);
    } 
    99% {
        transform: translateX(0%) scaleX(-1);
    }
    
}
@keyframes moveBabyJellyfish {
    0%, 100% {
        transform: translateX(0%) scaleX(1);
    }
    49% {
        transform: translateX(-40%) scaleX(1); 
    }
    50% {
        transform: translateX(-40%) scaleX(-1);
    }
    99% {
        transform: translateX(0%) scaleX(-1);
    }
}
.bottom-right-bubbles {
    position: absolute;
    bottom: 0;
    right: 0;

    @media screen and (max-width: 500px) {
        width: 30%;
        height: 10%;
        bottom: 45%;        
    }
}
.apply-button {
    text-decoration: none;
    color: white;
}

#faq {

}

#faq h3 {
    font-family: 'Sniglet';
    font-weight: normal;
    color: #3F2C4E;
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 2.5em;
}

.faq-header {
    margin: auto;
    width: 80%;
}

.faq-header h1 {
    font-family: 'Sniglet';
    font-weight: 400;
    color: #3F2C4E;
    margin: 0;
    font-size: 7.5em;
    line-height: normal;
}

.faq-header hr {
    border: 3px solid white;
    width: 75%;
    margin-left: 0;
}

.faq-general, .faq-registration {
    width: 92%;
    margin-left: 8%;
}
  
.carousel {
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease-in-out;
}
  
.carousel-container {
    overflow-x: scroll;
    width: 100%;
    display: flex;
    padding-bottom: 20px;
}

.carousel-item {
    font-family: 'Sniglet';
    font-size: 1.5em;
    flex: 0 0 auto;
    width: 270px;
    height: 70px;
    margin-right: 3%;
    border-radius: 29px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    transition: height 0.3s ease;
}

.carousel-item.expanded {
    height: 370px;
}

.carousel-item.expanded .faq-answer {
    height: 100%;
}

.faq-question {
    display: inline-flex;
}

.faq-answer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 10px; */
    text-align: left;
    overflow: hidden;
    font-size: 0.75em;
    height: 0;
}

.faq-general .carousel-item:nth-child(even),
.faq-registration .carousel-item:nth-child(odd) {
    background-color: #D1DDF1;
}

.faq-general .carousel-item:nth-child(odd),
.faq-registration .carousel-item:nth-child(even) {
    background-color: #B4C8EA;
}

::-webkit-scrollbar {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 29px;
}

/* .faq-info {
    display: flex;
    flex-direction: column;
    background-color: #B4C8EA;
    font-family: 'Sniglet';
    font-size: 1.5em;
    flex: 0 0 auto;
    width: 270px;
    height: 370px;
    margin-left: 8%;
    border-radius: 29px;
    padding: 15px;
    margin-top: 5%;
} */

#end-screen {
    /* background-image: url("assets/end.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 10;
    height: 100vh;
    width: 100%;
    margin-top: 600px;
    @media screen and (max-width: 1024px) {
        background-size: cover;
    }
}