:root {
    /* MAIN COLORS */
    --main-color-1: #4B81A2;
    --main-color-2: #4ebbea;
    --main-color-3: #FA8072;
    --main-color-4: #7E9F41;
    --main-color-5: #E5E0A4;

    /* WATER */
    --water-color-1: #BEE4F4;
    --water-color-2: #86c6e9;
    --water-color-3: #5585D8;
    --water-color-4: #2B1060;
    --water-color-5: #0A0A33;

    /* ACCENT */
    --accent-color-1: #C6EAB8;
    --accent-color-2: #80CB67;
    --accent-color-3: #7E9F41;
    --accent-color-4: #448C2C;
    --accent-color-5: #2C5F1B;

    --accent-color-6: #E5E0A4;
    --accent-color-7: #DBB13D;
    --accent-color-8: #FC7E73;
    --accent-color-9: #D77A5B;
    --accent-color-10: #C181A8;

    --accent-color-11: #5E29FF;
    --accent-color-12: #C70A82;
    --accent-color-13: #6D1C69;
    --accent-color-14: #2B1060;
    --accent-color-15: #0A0A33;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@font-face {
    font-family: "Lost Fish";
    src: url("fonts/Lost_Fish.eot") format("eot"),
        url("fonts/Lost_Fish.woff") format("woff"),
        url("fonts/Lost_Fish.ttf") format("truetype"),
        url("fonts/Lost_Fish.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Sniglet";
    src: url("fonts/Sniglet-Regular.ttf") format("truetype"),
        url("fonts/Sniglet-ExtraBold.ttf") format("truetype");
    font-weight: normal, bold;
    font-style: normal;
}

@font-face {
    font-family: "Slackey";
    src: url("fonts/Slackey-Regular.ttf") format("truetype");

}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom,
            var(--water-color-1),
            var(--water-color-2),
            var(--water-color-3),
            var(--water-color-4),
            var(--water-color-5));
    height: 550vh;
    width: 100%;
    position: relative;
    z-index: 1;
    overscroll-behavior: none;
}

.title-font {
    font-family: 'Sniglet';
}

.calendar-container {
    background-color: var(--main-color-5);
}

.schedule-divider {
    color: black;
    border-top: 1px dotted;
    border-bottom: none;
}

.spn-row {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px 0;
}

.spn-box {

    display: flex;
    align-items: center;
    justify-content: center;

    width: 25%;
    padding: 16px;
    background-color: var(--water-color-4);
    border-radius: 8px;
    /* border: white solid 1px; */
}

.spn-box img {
    width: 100%;
}

.spn-box .white-background {
    background-color: white;
    padding: 8px;
}

.spn-box .fill-box {
    height: 100%;
}

.spn-box-and-more {
    background-color: unset
}

.spn-box-and-more h2 {
    text-align: center;
    margin: 0;
}

.quick-link-btn {
    background-color: var(--accent-color-9);
    color: black;
}
